/* Importing fonts that i won't use */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Importing Downloaded Fonts */

@font-face {
  font-family: FoundersGrotesk;
  src: url(../src/assets/fonts/FoundersGrotesk-Semibold.woff) format('woff');
}

@font-face {
  font-family: NeueMontreal;
  src: url(../src/assets/fonts/NeueMontreal-Regular.woff) format('woff');
}

/* Selection */
::selection {
  background-color: #0d564d90;
}

/* Adjusting Scroll-Bar  */
::-webkit-scrollbar {
  width: 6.5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(136, 136, 136, 0.109),
    rgba(136, 136, 136, 0.183)
  );
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar-thumb {
  background: #0d564d94;
}
::-webkit-scrollbar-thumb:hover {
  background: #0d564d;
}

/* Animation(s) */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 62s linear infinite;
  transition: all ease-in-out;
  filter: blur(1px);
}
.animate-marquee:hover {
  filter: blur(0px);
  animation: marquee 62s linear infinite;
  transition: all ease-in-out;
}

/* Button Css */
.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}
.btn:hover {
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
    0 4px 6px 0 rgb(93 100 148 / 20%);
}


/* input field design */
@layer InputField {
  .input-field {
    @apply  font-['NeueMontreal'] outline-none border-none border-b-dark/20 list-none appearance-none bg-dim_white gap-1;
  }

  .input-field::placeholder {
    @apply text-dark/80; 
  }
}

/* Layer and Apply Directives */
@layer Masker {
  .masker {
    @apply font-['FoundersGrotesk'] uppercase font-extrabold tracking-tight;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
